
{% extends "common/s_base.html" %}

{% block content %}
	<div class="block-content" >
		<div class="block-content-nav">
			<span class="title">文本消息</span>
		</div>
		
		<div class="block-content-description">
			<span>
				文本消息管理
			</span>
		</div>
		
		<div class="block-content-content">
			<table class="fm-table">
				<thead>
					<tr >
						<td style="width: 150px;">关键词</td>
						<td>消息描述</td>
						<td style="width: 250px;">
							<input class="btn" onclick="window.location.href='/wxcms/msgtext/merge/'" type="button" value="添 加"/>
						</td>
					</tr>
				</thead>
				<tbody>
					{% for pobj in page_objs %}
						{% if forloop.counter|divisibleby:"2"%}
						<tr >
						{% else %}
						<tr class="even-tr">
						{% endif %}
							<td>{{pobj.inputCode}}</td>
							<td style="text-align:left;padding-left:5px;">
							{{pobj.accounttext.content|truncatechars:25}}
							</td>
							<td>
								<a style="text-decoration:underline;" href="/wxcms/msgtext/merge/?id={{pobj.id}}">修改</a>
								<a style="text-decoration:underline;" href="javascript:void(0)" onclick="deleteObj({{pobj.id}});">删除</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<script type="text/javascript">
		function deleteObj(id){
			if(confirm("确定删除?")){
				window.location.href='/wxcms/msgtext/delete/?id='+id;
			}
		}
	</script>
	
{% endblock %}



