
{% extends "common/s_base.html" %}

{% block content %}
	<div class="block-content" >
		<div class="block-content-nav">
			<span class="title">菜单管理</span>
		</div>
		
		<div class="block-content-description">
			<span>
				公众账号菜单管理
			</span>
		</div>
		
		<div class="block-content-content">
			<table class="fm-table">
				<thead>
					<tr style="height: 28px;">
						<td>名称</td>
						<td style="width:100px;">菜单类型</td>
						<td>关键字</td>
						<td style="width:150px;">页面URL</td>
						<td style="width:50px;">顺序</td>
						<td style="width:100px;">父菜单</td>
						<td style="width:100px;">
							<input style="margin-left:0px;" type="button" class="btn" value="添 加" onclick="window.location.href='/wxcms/menu/merge/'">
						</td>
					</tr>
				</thead>
				<tbody>
				{% for mobj in menu_objs %}
					{% if forloop.counter|divisibleby:"2"%}
					<tr style="background-color:#f5f5f5;height: 40px;">
					{% else %}
					<tr style="height: 40px;">
					{% endif %}
						<td>{{mobj.name}}</td>
						<td>
						{% if mobj.type == 'click'%}
						消息
						{% else %}
						链接
						{% endif %}
						</td>
						<td>
							{{mobj.key|default:''}}
						</td>
						<td>
						<a href="{{mobj.url}}">{{mobj.url|default:''|truncatechars:25}}</a>
						</td>
						<td>{{mobj.sort}}</td>
						<td>{{mobj.parent.name|default:''}}</td>
						<td>
							<a style="text-decoration:underline;" href="/wxcms/menu/merge/?id={{mobj.id}}">修改</a>
							<a style="text-decoration:underline;" href="javascript:void(0)" onclick="deleteObj({{mobj.id}});">删除</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<div class="opt-bar" style="margin-top:5px;text-align:left;">
				<input type="button" class="btn" style="width:120px;margin-left:0px;" value="生成微信账号菜单" onclick="createWxMenu()">
				<input type="button" class="btn" style="width:120px;" value="删除微信账号菜单" onclick="deleteWxMenu()"> 
			</div>
			
			<form id="delForm" action="/wxcms/menu/delete/" method="post" style="display: none;">
				{%csrf_token%}
				<input id="id_id" type="hidden" name="id">
			</form>
			
			<form id="wxForm" action="" method="post" style="display: none;">
				{%csrf_token%}
				<input id="wx_id_aid" type="hidden" name="aid">
			</form>
			
		</div>
	</div>
	
	<script type="text/javascript">
		function deleteObj(id){
			if(confirm("确定删除菜单以及其子菜单?")){
				$("#id_id").val(id);
				$("#delForm").submit();
			}
		}
		function createWxMenu(aid){
			if(confirm("确定生成微信账号菜单?")){
				$("#wxForm").attr("action","/wxapi/menu/create/");
				$("#wxForm").submit();
			}
		}
		function deleteWxMenu(aid){
			if(confirm("确定删除微信账号菜单?")){
				$("#wxForm").attr("action","/wxapi/menu/delete/");
				$("#wxForm").submit();
			}
		}
	</script>
	
{% endblock %}



