
{% extends "common/s_base.html" %}

{% block content %}
	<div class="block-content" >
		<div class="block-content-nav">
			<span class="title">文本消息 添加/修改</span>
		</div>
		
		<div class="block-content-description">
			<span>
				如果 <span style="color:#555;">关键字 </span> 
				为 <span style="color:#555;">subscribe</span> ，那么此消息为订阅消息
			</span>
		</div>
		
		<div class="block-content-content">
			<form class="fm-form" action="" method="post">
				{%csrf_token%}
				<input type="hidden" name="id" value="{{accountMsg.id}}"/>
				<ul>
					<li>
						<label>关键字 </label>
						<input name="inputCode" type="text" value="{{accountMsg.inputCode}}"/>
					</li>
					<li>
						<label>内容 </label>
					</li>
					<li style="margin-top:-15px;">
						<label></label>
						<textarea name="content" rows="10" cols="30">{{accountMsg.accounttext.content}}</textarea>
					</li>
				</ul>
				
				<div style="margin-left:75px;margin-top: 20px;">
					<input class="btn" type="submit" value="保 存"/>
				</div>
				
			</form>
		</div>
		
	</div>
	
{% endblock %}

